@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body{
    margin: 0px;
    font-family: Lato;
}
.header{
    background-color: #E0E0E0;
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-itens{
    display: flex;
    margin-left: 200px;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 21.16;
    align-items: center;
}
.header .header-itens img{
    max-width: 40px;
    max-height: 36.84px;
    margin-right: 20px;
}
.header .header-itens h1{
    font-style: normal;
}