@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body{
    margin: 0px;
    font-family: Lato;
}
.header{
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
}
.header-principal{
    width: 1100px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-itens{
    margin-top: 19px;
    display: flex;
    align-items: center;
}
.header .header-itens div{
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}
.header .header-itens img{
    width: 40px;
    height: 36.84px;
    
}
.cadastro-limpar {

    margin-top: 20px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cadastro-limpar a{
    color: #333333;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    
    
}

