@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*Inicio do CSS do Header*/
body{
    margin: 0px;
    font-family: Lato;
}
.header{
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
}
.header-principal{
    width: 1100px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-texto{
    width: 64%;
    margin-left: 20px;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
}


.header-itens img{
    width: 40px;
    height: 36.84px;
    
}
.menu{

    display: none;
    width: 24px;
    height: 24px;

}
.linha-menu{
    border: 1px solid #1f1b1b;
    margin-right: 3px;
    margin-left: 3px;
}

.cadastro-limpar {

 
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cadastro-limpar a{
    color: #333333;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4px;
    margin-bottom: 4px;    
}
/*Fim do CSS do Header*/

/*Parte da Nova Transação (INICIO)*/
.conteudo{
    display: flex;
    justify-content: center;
}
.conteudo-principal{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
.nova-transacao{
    border: 1px solid #979797;
    border-radius: 4px;
    margin-top: 30px;
    box-sizing: border-box;
}
.posicao-transacao div{
    margin-top: 20px;
}


.posicao-transacao input, select{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #979797;
    height: 32px;
   
}

.titulo-transacao{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.botao-transacao{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.botao-transacao button{
    background-color: #333333;
    border-radius: 4px;
    color: white;
    width: 100%;
    height: 32px;
}

.tipo-transacao, .nome-mercadoria, .valor, .botao-transacao {
    font-size: 14px;
    line-height: 22px;
    margin-left: 15px;
    margin-right: 15px;   
}
.tipo-transacao select{
    color: #999;
}
/*Parte da Nova Transação (FIM)*/

/*Parte de Extrato Transações (INICIO)*/
.extrato-transacao{
    margin-top: 30px;
    width: 680px;
    margin-left: 20px;
}
.extrato-transacao h1{
    text-align: center;
}
.mercadoria-valor{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}
.descricao-valor{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 7px;
}
    

.descricao-transacao{
    display: flex;
    font-size: 14px;
    line-height: 16px;
    width: 231px;
    
}

.descricao-sinal{
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.descricao-texto{
    margin-left: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.valor-transacao{
    margin-top: 0px;
    margin-bottom: 0px;
}
.total{
    margin-top: 11px;
    margin-bottom: 0px;
}
.linha-horizontal{
    border: 1px solid #979797;
    
}
.lucro {
    text-align: right;
    margin-top: 0px;
    font-size: 10px;
    line-height: 22px;
}
/*Parte de Extrato Transações (FIM)*/

.div-rodape{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.rodape{
    width: 100%;
    height: 8px;
    background: #333333;

}

/*Inicio de responsividade do site*/
@media screen and (max-width: 1112px){
    .header-principal{
        margin-left: 20px;
        margin-right: 20px;
    }

    .conteudo{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    
    .conteudo{
        margin-left: 20px;
        margin-right: 20px;
    }
    .conteudo-principal{
        display: flex;
        flex-direction: column;
    }

    .posicao-transacao{
        display: flex;
    }

    .botao-transacao{
        display: flex;
        justify-content: flex-end;
    }
    .cadastro-limpar{
        display: none;
    }
    .menu{
        display: block;
    }
    .header-texto{
        width: unset;
        margin-left: 0px;
        margin-right: 28px;
    }
}